.inline {
    padding: 3vw;
}

.inline-flex {
    display: inline-flex;
    color: #39ace7;

}

.logo {
    display: inline-block;
    text-align: center;
}

h1 {
    margin-left: 20vw;
    color: #39ace7;
}